

body{
 
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin: 0;
    
}


header{

    background-color:#4ECDC4;
    background-size: auto;
    text-align: center;
    color:#F7FFF7;
    height: 100px;
}

.flexbox {

    display: flex;
    align-items: stretch;
    min-height: 300px;
    
    
  }
  .flexbox > nav {
    background-color: #FFE66D;
    width: 30%;
    text-align: left;
    font-size: 10px;
    padding-left: 10px;
    padding-top: 10px;
  }
  
  .flexbox > article {
    background-color: #f1f1f1;
    width: 70%;
    text-align: left;
    font-size: 16px;
  }


nav{
    

}

li{
    text-decoration: underline;
    list-style: none;
}

a:visited{

    color:green;
} 
article{
    background-color:#F7FFF7;
    padding: 20px;
    

}

.article-img {
    padding: 10px;
    width: 40%;
    float: right;


}

footer{

    background-color:#1A535C;
    background-size: auto;
    text-align: center;
    color:white;
    height: 100px;

}

.footerimages{

    width: 30px;
    float: center;
}


